@model EMS.Web.Models.DepartmentViewModel

@{
	ViewData["Title"] = "EditDepartment";

	Layout = "~/Views/Shared/_EMSLayout.cshtml";
}

<div class="container">
	<h2>Edit Department</h2>
	<hr />
	<form method="post" asp-action="">
		<div class="row">
			<div class="form-group col-5">
				<label class="control-label fw-bold">Department Code:</label>
				<input type="text" id="Code" name="Code234" class="form-control" value="@Model.Code" />
			</div>

			<div class="form-group col-5">
				<label class="control-label fw-bold">Department Name:</label>
				@Html.TextBoxFor(Model => Model.DeptName, new { @class = "form-control" })
			</div>

			<div class="form-group col-5">
				<label class="control-label fw-bold">Location:</label>
				@Html.TextBoxFor(Model => Model.Location, new { @class = "form-control" })
			</div>
			<div class="form-group col-5">
				<label class="control-label fw-bold">Active:</label>
				@Html.CheckBoxFor(m => m.IsActive)
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-10">
				&nbsp;
			</div>
			<div class="col-4">
				@Html.HiddenFor(m => m.DepartmentId)
				<a class="btn btn-secondary" asp-action="list" asp-controller="department">Go Back</a>
				<input type="button" class="btn btn-primary" value="Submit" onclick="goToAdd()" />
			</div>
		</div>
	</form>
</div>

<script>
	function goToAdd() {
		let departmentId = @Html.Raw(Model.DepartmentId);  
		let deptcode = document.getElementById('Code').value;
		let deptname = document.getElementById('DeptName').value;
		let deptLocation = document.getElementById('Location').value;
		let isActive = document.getElementById('IsActive').checked;

		let deptObj = {
			DepartmentId:departmentId,
			Code: deptcode,
			DeptName: deptname,
			Location: deptLocation,
			IsActive: isActive
		};
		debugger;
		fetch('/department/UpdatesaveDepartment?DepartmentId=' + departmentId, {

			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(deptObj)
		})
		.then(response => response.json())
		.then(data => {
		    debugger;
			let saveResult = data;
			if (saveResult.isSuccess) {
				alert('Department details saved successfully');
				location.href = '/department/list';
			} else {
				alert(saveResult.errorMessage);
			}
        })

		
	}

</script>