@model EMS.Models.DepartmentModel

@{
    ViewData["Title"] = "ViewDepartment";
    Layout = "~/Views/Shared/_EMSLayout.cshtml";
}

<h1>ViewDepartment</h1>

@* <div>
    <h4>DepartmentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentIdPk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentIdPk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyIdFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyIdFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div> *@





<main class="container">
    <h1>Department View</h1>


    <form id="deptForm" novalidate>
        <div class="form-row">
            <label for="deptCode">Dept Code</label>
            <input type="text" id="deptCode" name="deptCode" readonly />
        </div>

        <div class="form-row">
            <label for="deptName">Dept Name</label>
            <input type="text" id="deptName" name="deptName" required maxlength="100" />
        </div>

        <div class="form-row">
            <label for="deptLocation">Dept Location</label>
            <select id="deptLocation" name="deptLocation" required>
                <option value="">-- Select location --</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Chennai">Chennai</option>
            </select>
        </div>
        <div class="actions">
            <button type="button" id="btnBack" class="btn secondary" onclick="goToView()">GoBack</button>
            @* <div id="statusMessage" class="status" aria-live="polite"><div> *@
    </form>

</main>
<script>
    function goToView() {
        window.location.href = '/Department/list';
    }
</script> *
