@model EMS.Web.Models.CompanyViewModel
@{
	Layout = "~/Views/Shared/_EMSLayout.cshtml";
	int counter = 0;
	int index = -1;
}

<div class="container">
	<h2>Edit Company</h2>
	<input type="hidden" asp-for="CompanyIdPk" />
	<hr />
	<div class="row">
		<div class="form-group col-5">
			<label class="control-label fw-bold">Name:</label>
			<input class="form-control" readonly asp-for="CompanyName" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Registration Date:</label>
			<input class="form-control" type="date" asp-for="@Model.RegistrationDateDisplayValue" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Website:</label>
			<input class="form-control" maxlength="500" asp-for="Website" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">BankAccountNumber:</label>
			<input class="form-control" maxlength="50" asp-for="BankAccountNumber" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Email:</label>
			<input class="form-control" type="email" maxlength="100" asp-for="Email" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">PhoneNumber:</label>
			<input class="form-control" type="number" asp-for="PhoneNumber" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">TIN:</label>
			<input class="form-control" maxlength="20" asp-for="TIN" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">PAN:</label>
			<input class="form-control" maxlength="10" asp-for="PAN" />
		</div>
	</div>
	<hr />
	<h3>Address(es)</h3>
	<hr />
	<form method="post" asp-action="AddStudent">
		<div class="row">
			<div class="col-2">Address Line1</div>
			<div class="col-2">Address Line2</div>
			<div class="col-2">City</div>
			<div class="col-2">State</div>
			<div class="col-2">PIN</div>
			<div class="col-2">Type</div>
			<div class="col-2"><input type="text" id="inputLine1" /></div>
			<div class="col-2"><input type="text" id="inputLine2" /></div>
			<div class="col-2"><input type="text" id="inputCity" /></div>
			<div class="col-2"><input type="text" id="inputState" /></div>
			<div class="col-2"><input type="text" id="inputPIN" /></div>
			<div class="col-2">
				<input type="radio" id="inputCorp" name="inputType" value="1" />Corporate
				<input type="radio" id="inputBranch" name="inputType" value="2" />Branch
			</div>
			<div class="col-12">
				<input type="button" id="btnAdd" class="btn btn-secondary" value="ADD" onclick="AddAddress()" />
				<input type="button" class="btn btn-dotted" value="Cancel" onclick="ClearAddress()" />
			</div>
		</div>
	</form>
	<hr />

	<table class="table info-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Line1</th>
				<th>Line2</th>
				<th>City</th>
				<th>State</th>
				<th>PIN</th>
				<th>Type</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody id="address-table">
			@foreach (var address in Model.CompanyAddresses)
			{
				<tr>
					<td>@(++counter)</td>
					<td>@address.AddressLine1</td>
					<td>@address.AddressLine2</td>
					<td>@address.City</td>
					<td>@address.State</td>
					<td>@address.PinCode</td>
					<td>@address.AddressTypeName</td>
					<td>
						<a href="#" onclick="EditAddress(
								this,
							   '@address.AddressLine1',
							   '@address.AddressLine2',
							   '@address.City',
							   '@address.State',
							   '@address.PinCode',
							   '@address.AddressTypeName'
						   )">Edit
					    </a>
					</td>
					<td><a href="#" onclick="DeleteAddress(@index)">Delete</a></td>
				</tr>
			}
			
		</tbody>
	</table>
	<hr />
	<div class="row">
		<div class="col-10">
			&nbsp;
		</div>
		<div class="col-4">
			<input type="button" class="btn btn-primary" onclik="SaveCompany()" value="Save" />
			<a class="btn btn-secondary" asp-action="view" asp-controller="company">Cancel or Back to View</a>
		</div>
	</div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Warning!</strong> <label id="lblWarningMessage"></label>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script type="text/javascript">
	function SaveCompany(){

	}


	let currentRow = null;
	function EditAddress(element,line1, line2, city, state, pin, type) {
		debugger;
		currentRow = element.closest("tr");
		document.getElementById("inputLine1").value = line1;
		document.getElementById("inputLine2").value = line2;
		document.getElementById("inputCity").value = city;
		document.getElementById("inputState").value = state;
		document.getElementById("inputPIN").value = pin;

		if (type === "Corporate Office") {
			document.getElementById("inputCorp").checked = true;
		} else {
			document.getElementById("inputBranch").checked = true;
		}
		document.getElementById("btnAdd").value = "UPDATE";
	}
	function DeleteAddress(rowIndex){

	}

	function AddAddress() {

		let line1 = document.getElementById('inputLine1').value;
		let line2 = document.getElementById('inputLine2').value;
		let city  = document.getElementById('inputCity').value;
		let state = document.getElementById('inputState').value;
		let pin   = document.getElementById('inputPIN').value;

		let typeName = '';
		if (document.getElementById('inputCorp').checked) {
			typeName = 'Corporate Office';
		} else if (document.getElementById('inputBranch').checked) {
			typeName = 'Branch Office';
		}

		let btn = document.getElementById('btnAdd');

		
		if (btn.value === 'UPDATE' && currentRow !== null) {

			currentRow.cells[1].innerText = line1;
			currentRow.cells[2].innerText = line2;
			currentRow.cells[3].innerText = city;
			currentRow.cells[4].innerText = state;
			currentRow.cells[5].innerText = pin;
			currentRow.cells[6].innerText = typeName;

			ClearAddress();
			currentRow = null;
			return;
		}

		
		var count = document.getElementById('address-table').children.length;

		let Addressobj = {
			AddressLine1: line1,
			AddressLine2: line2,
			City: city,
			State: state,
			PIN: pin,
			Type: typeName
        };

		fetch('/Company/Addaddress'{
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
            body: JSON.stringify(Addressobj)
		})
        .then(response => response.json())
		.then(data => {let saveResult = data;
			if (saveResult.isSuccess) {
				alert('Department details saved successfully');
				location.href = '/department/list';
			} else {
				alert(saveResult.errorMessage);
			}
		})



	  var data = [
		count + 1,
		line1,
		line2,
		city,
		state,
		pin,
		typeName,
		'<a href="#" onclick="EditAddress(this,'
			+ '\'' + line1 + '\','
			+ '\'' + line2 + '\','
			+ '\'' + city + '\','
			+ '\'' + state + '\','
			+ '\'' + pin + '\','
			+ '\'' + typeName + '\''
		+ ')">Edit</a>',
		'<a href="#" onclick="DeleteAddress(this)">Delete</a>'
	  ];


		addRowToTable(data);
		ClearAddress();
	}


	function ClearAddress(){
		document.getElementById("inputLine1").value = "";
		document.getElementById("inputLine2").value = "";
		document.getElementById("inputCity").value = "";
		document.getElementById("inputState").value = "";
		document.getElementById("inputPIN").value = "";
		document.getElementById("inputCorp").checked = false;
		document.getElementById("inputBranch").checked = false;
		document.getElementById("btnAdd").value = "ADD"

	}

	function showMessage(msg){
		alert(msg);
	}

		// Function to add a new row with specific data
	function addRowToTable(data) {
		const tbody = document.getElementById('address-table');
		const newRow = document.createElement('tr');

		data.forEach(cellHtml => {
			const cell = document.createElement('td');
			cell.innerHTML = cellHtml;   // ✅ NOT createTextNode
			newRow.appendChild(cell);
		});

		tbody.appendChild(newRow);
	}
		// Example usage:
	// Assuming you have a table like:
	// <table id="myTable">
	//   <tbody id="myTableBody">
	//     <!-- existing rows can be here -->
	//   </tbody>
	// </table>

	// Add a new row with data: ['Item A', 'Item B', 'Item C']
	//addRowToTable(['New Data 1', 'New Data 2', 'New Data 3']);

</script>