@model EMS.Web.Models.CompanyViewModel
@{
	Layout = "~/Views/Shared/_EMSLayout.cshtml";
	int counter = 0;
}

<div class="container">
	<h2>Edit Company</h2>
	<input type="hidden" asp-for="CompanyIdPk" />
	<hr />
	<div class="row">
		<div class="form-group col-5">
			<label class="control-label fw-bold">Name:</label>
			<input class="form-control" readonly asp-for="CompanyName" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Registration Date:</label>
			<input class="form-control" type="date" asp-for="RegistrationDateDisplayValue" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Website:</label>
			<input class="form-control" maxlength="500" asp-for="Website" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">BankAccountNumber:</label>
			<input class="form-control" maxlength="50" asp-for="BankAccountNumber" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Email:</label>
			<input class="form-control" type="email" maxlength="100" asp-for="Email" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">PhoneNumber:</label>
			<input class="form-control" type="number" asp-for="PhoneNumber" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">TIN:</label>
			<input class="form-control" maxlength="20" asp-for="TIN" />
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">PAN:</label>
			<input class="form-control" maxlength="10" asp-for="PAN" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-10">
			&nbsp;
		</div>
		<div class="col-4">
			<input type="button" class="btn btn-primary" onclik="SaveCompany()" value="Save Company Info" />
		</div>
	</div>
	<hr />
	<h3>Address(es)</h3>
	<hr />
	<div class="row">
		<div class="col-2">Address Line1</div>
		<div class="col-2">Address Line2</div>
		<div class="col-2">City</div>
		<div class="col-2">State</div>
		<div class="col-2">PIN</div>
		<div class="col-2">Type</div>
		<div class="col-2"><input type="text" id="inputLine1" /></div>
		<div class="col-2"><input type="text" id="inputLine2" /></div>
		<div class="col-2"><input type="text" id="inputCity" /></div>
		<div class="col-2"><input type="text" id="inputState" /></div>
		<div class="col-2"><input type="text" id="inputPIN" /></div>
		<div class="col-2">
			<input type="radio" id="inputCorp" name="inputType" value="1" />Corporate
			<input type="radio" id="inputBranch" name="inputType" value="2" />Branch
		</div>
		<div class="col-8 m-2">&nbsp;</div>
		<div class="col-3 m-2">
			<input type="hidden" id="editAddressIdPk" value="0" />
			<input type="button" class="btn btn-primary" id="btnAddAddress" value="Add Address" onclick="AddAddress()" />
			<input type="button" class="btn btn-dotted" value="Cancel" onclick="ClearAddress()" />
		</div>
	</div>
	<hr />

	<table class="table info-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Line1</th>
				<th>Line2</th>
				<th>City</th>
				<th>State</th>
				<th>PIN</th>
				<th>Type</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var address in Model.CompanyAddresses)
			{
				<tr>
					<td>
						@(++counter)
						<input type="hidden" id="addr_id_@counter" value="@address.CompanyAddressIdPk" />
						<input type="hidden" id="type_id_@counter" value="@((int)address.AddressTypeId)" />
					</td>
					<td><span id="line1_@counter"> @address.AddressLine1</span></td>
					<td><span id="line2_@counter"> @address.AddressLine2</span></td>
					<td><span id="city_@counter"> @address.City</span></td>
					<td><span id="state_@counter"> @address.State</span></td>
					<td><span id="pin_@counter"> @address.PinCode</span></td>
					<td>@address.AddressTypeName</td>
					<td><a class="link" onclick="EditAddress(@counter)">Edit</a></td>
					<td><a class="link" onclick="DeleteAddress(@address.CompanyAddressIdPk)">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
	<hr />
	<div class="row">
		<div class="col-10">
			&nbsp;
		</div>
		<div class="col-4">
			<a class="btn btn-secondary" asp-action="view" asp-controller="company">Cancel or Back to View</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	function ClearAddress(){
		document.getElementById('btnAddAddress').value='Add';
		 document.getElementById('inputLine1').value = '';
		 document.getElementById('inputLine2').value = '';
		document.getElementById('inputCity').value = '';
		 document.getElementById('inputState').value= '';
		 document.getElementById('inputPIN').value= '';
		 document.getElementById('editAddressIdPk').value= '0';
			document.getElementById('inputCorp').checked = false;
			document.getElementById('inputBranch').checked = false;
	}

	function EditAddress(indx){
		debugger;
		document.getElementById('btnAddAddress').value='Update';
		let line1 = document.getElementById('line1_'+ indx).innerText;
		let line2 = document.getElementById('line2_'+ indx).innerText;
		let city = document.getElementById('city_'+ indx).innerText;
		let state = document.getElementById('state_'+ indx).innerText;
		let pin = document.getElementById('pin_'+ indx).innerText;
		let addr_id_pk = document.getElementById('addr_id_'+indx).value;
		let typeid = document.getElementById('type_id_'+indx).value;


		 document.getElementById('inputLine1').value = line1;
		 document.getElementById('inputLine2').value = line2;
		document.getElementById('inputCity').value = city;
		 document.getElementById('inputState').value= state;
		 document.getElementById('inputPIN').value= pin;
		 document.getElementById('editAddressIdPk').value= addr_id_pk;

		if(document.getElementById('inputCorp').value == typeid){
			document.getElementById('inputCorp').checked = true;
		}
		else{
			document.getElementById('inputBranch').checked = true;
		}
	}

	function DeleteAddress(id){
		if(!confirm('Are you sure want to permanently delete this address?')){
			return;
		}

		fetch('/company/deletecompanyaddress/'+id)
			.then(response => response.json())
			.then(data => {
				debugger;
				let saveResult = data;
				if (saveResult.isSuccess) {
					alert('address removed successfully');
					location.href='/company/edit';
				} else {
					alert(saveResult.errorMessage);
				}
			});
	}

	function AddAddress(){
		debugger;
		//1.validation
		//except addr line2 and pin everything else is mandatory
		//2.if valid
			//send the data to db and save it or insert as a new address record
			//if save is success
					//bind it to the grid
					//clear the input controls
				//or
					//page reload
					//it will go to db and get comp, address and load freshly
			//else (DB save failed)
				//show error msg as alert saying unable to save address details in the db
				//do not clear the input controls
		//else invalid data
			//show alert msg to the user to provide all required fields.a

		let errorMsg = validateInputAddress();
		if(errorMsg == ''){
			//send data to db/server
			var addressObj = getAddressObjFromInput();
			//fetch api
			fetch('/company/addcompanyaddress', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(addressObj)
			})
			.then(response => response.json())
			.then(data => {
				debugger;
				let saveResult = data;
				if (saveResult.isSuccess) {
					alert('address details saved successfully');
					location.href='/company/edit';
				} else {
					alert(saveResult.errorMessage);
				}
			});
		}
		else{
			alert(errorMsg);
		}
	}

	function getAddressObjFromInput(){

		let obj = {
			CompanyAddressIdPk : document.getElementById('editAddressIdPk').value,
			AddressLine1:document.getElementById('inputLine1').value,
			AddressLine2 : document.getElementById('inputLine2').value,
			City: document.getElementById('inputCity').value,
			State : document.getElementById('inputState').value,
			PinCode : document.getElementById('inputPIN').value,
			AddressTypeId : document.getElementById('inputCorp').checked ? 1 : 2
		}

		return obj;

	}

	function validateInputAddress(){
		let line1 = document.getElementById('inputLine1').value;
		let city = document.getElementById('inputCity').value;
		let state = document.getElementById('inputState').value;
		let isCorporate = document.getElementById('inputCorp').checked;
		let isBranch = document.getElementById('inputBranch').checked;

		let errorMsg = '';

		if(line1 == ''){
			errorMsg = `Address Line1 is required\n`;
		}
		if(city == ''){
			errorMsg += `City is required\n`;
		}
		if(state == ''){
			errorMsg += `State is required\n`;
		}
		if(isCorporate == false && isBranch == false){
			errorMsg += 'Type of address required';
		}

		return errorMsg;
	}
</script>

<style type="text/css">
	a.link {
		color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
		text-decoration: underline;
		cursor: pointer;
	}
</style>