@model EMS.Web.Models.CompanyViewModel
@{
	Layout = "~/Views/Shared/_EMSLayout.cshtml";
	int counter = 0;
}

<style>
	label.form-control-static {
		margin: 5px;
		padding: 5px;
		border: 1px dotted;
	}
</style>

<div class="container">
	<h2>View Company</h2>
	<hr />
	<div class="row">
		<div class="form-group col-5">
			<label class="control-label fw-bold">Name:</label>
			<label class="form-control-static">@Model.CompanyName</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Registration Date:</label>
			<label class="form-control-static">@Model.RegistrationDate</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Website:</label>
			<label class="form-control-static">@Model.Website</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">BankAccountNumber:</label>
			<label class="form-control-static">@Model.BankAccountNumber</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">Email:</label>
			<label class="form-control-static">@Model.Email</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">PhoneNumber:</label>
			<label class="form-control-static">@Model.PhoneNumber</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">TIN:</label>
			<label class="form-control-static">@Model.TIN</label>
		</div>
		<div class="form-group col-5">
			<label class="control-label fw-bold">PAN:</label>
			<label class="form-control-static">@Model.PAN</label>
		</div>
	</div>
	<hr />
	<h3>Address(es)</h3>
	<table class="table info-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Line1</th>
				<th>Line2</th>
				<th>City</th>
				<th>State</th>
				<th>PIN</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var address in Model.CompanyAddresses)
			{
				<tr>
					<td>@(++counter)</td>
					<td>@address.AddressLine1</td>
					<td>@address.AddressLine2</td>
					<td>@address.City</td>
					<td>@address.State</td>
					<td>@address.PinCode</td>
					<td>@address.AddressTypeName</td>
				</tr>
			}
		</tbody>
	</table>



	<hr />
	<div class="row">
		<div class="col-10">
			&nbsp;
		</div>
		<div class="col-2">
			<a class="btn btn-secondary" asp-action="edit" asp-controller="company">Edit Company Detais</a>
		</div>
	</div>
</div>