
@model EMS.Web.Models.EmployeeViewModel
@{
    ViewData["Title"] = "EditEmployee";
}

<h2>Edit Employee</h2>
<div class="card-header bg-info text-white">
    <h5 class="mb-0"> Employee Details</h5>
</div>
<div>
    <form asp-action="saveemployee" asp-controller="Employee">
        <div class="row">
            <div class="form-group col-3">
                <label class="control-label fw-bold">Code:</label>
                <input type="text" id="Code" name="Code234" class="form-control" value="@Model.Code" />
            </div>

            <div class="form-group col-3">
                <label class="control-label fw-bold">FirstName:</label>
                <input type="text" id="FName" name="Code234" class="form-control" value="@Model.FirstName" />
            </div>

            <div class="form-group col-3">
                <label class="control-label fw-bold">LastName:</label>
                <input type="text" id="LName" name="Code234" class="form-control" value="@Model.LastName" />
            </div>

            <div class="form-group col-3">
                <label class="control-label fw-bold">BloodGroup:</label>
                <input type="text" id="BGroup" name="Code234" class="form-control" value="@Model.BloodGroup" />
            </div>
            <div class="form-group col-3">
                <label class="control-label fw-bold">Gender:</label>
                <input type="text" id="Gender" name="Code234" class="form-control" value="@Model.Gender" />
            </div>
            <div class="form-group col-3">
                <label class="control-label fw-bold">EmailId:</label>
                <input type="text" id="Email" name="Code234" class="form-control" value="@Model.EmailId" />
            </div>
            <div class="form-group col-3">
                <label class="control-label fw-bold">MobileNumber:</label>
                <input type="text" id="Mobile" name="Code234" class="form-control" value="@Model.MobileNumber" />
            </div>
            <div class="form-group col-3">
                <label class="control-label fw-bold">DateOfBirth:</label>
                <input type="text" id="DOB" name="Code234" class="form-control" value="@Model.DateOfBirth" />
            </div>
            <div class="form-group col-3">
                <label class="control-label fw-bold">DateOfJoining:</label>
                <input type="text" id="DOJ" name="Code234" class="form-control" value="@Model.DateOfJoining" />
            </div>

            <div class="form-group col-3">
                <label class="control-label fw-bold">ExpInMonths:</label>
                <input type="text" id="EIM" name="Code234" class="form-control" value="@Model.ExpInMonths" />
            </div>
            <div class="form-group col-3">
                <label class="control-label fw-bold">SalaryCtc:</label>
                <input type="text" id="Salary" name="Code234" class="form-control" value="@Model.SalaryCtc" />
            </div>
            <div class="form-group col-5">
                <label class="control-label fw-bold">IsActive:</label>
                <input type="checkbox" id="Active" name="IsActive" value="@Model.IsActive" />
            </div>

        </div>
        <div class="row">
            <div class="col-10">
                &nbsp;
            </div>
            <div class="col-4">
                @Html.HiddenFor(m => m.EmployeeId)
                <a class="btn btn-secondary" asp-action="list" asp-controller="Employee">Go Back</a>
                <input type="button" class="btn btn-primary" value="save" onclick="debugger; goToAdd();" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function goToAdd() {
        let EmployeeId = '@Model.EmployeeId';
        let employeeCode = document.getElementById('Code').value;
        let firstName = document.getElementById('FName').value;
        let lastName = document.getElementById('LName').value;
        let bloodGroup = document.getElementById('BGroup').value;
        let gender = document.getElementById('Gender').value;
        let emailId = document.getElementById('Email').value;
        let mobileNumber = document.getElementById('Mobile').value;
        let dateOfBirth = document.getElementById('DOB').value;
        let dateOfJoining = document.getElementById('DOJ').value;
        let expInMonths = document.getElementById('EIM').value;
        let salaryCtc = document.getElementById('Salary').value;
        let isActive = document.getElementById('Active').checked;

        let empObj = {
            EmployeeIdPk: employeeId,
            Employeecode: employeeCode,
            FirstName: firstName,
            LastName: lastName,
            BloodGroup: bloodGroup,
            Gender: gender,
            EmailId: emailId,
            MobileNumber: mobileNumber,
            DateOfBirth: dateOfBirth,
            DateOfJoining: dateOfJoining,
            ExpInMonths: expInMonths,
            SalaryCtc: salaryCtc,
            IsActive: isActive
        };

        debugger;

        fetch('/Employee/UpdateSaveEmployee', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(empObj)
        })
        .then(response => response.json())
        .then(data => {
            if (data.IsSuccess) {
                alert('Employee details saved successfully');
                window.location.href = '/Employee/List';
            } else {
                alert(data.errorMessage);
            }
            location.href='/Employee/List'
        })
        .catch(error => {
            console.error('Error:',error);
        });
    }

  </Script>