@model List<EMS.Models.EmployeeModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1>Employees</h1>
<table class="table table-border table-hover">
    <thead class="bg-black text-white">
        </tr>
    </thead>
		<tr>
			<th>Address</th>
			<th>EmployeeCode</th>
			<th>FirstName</th>
			<th>LastName</th>
			<th>DepartmentIdFk</th>
	<tbody>
		@foreach (var emp in Model)
		{
			<tr>
				<td>@emp.Addresses</td>
				<td>@emp.Employeecode</td>
				<td>@emp.FirstName</td>
				<td>@emp.LastName</td>
				<td>@emp.DepartmentIdFk</td>
			</tr>

			@* <h1>FirstName is : @emp.FirstName</h1>
			<h1>LastName is :  @emp.LastName</h1>
			<h1>Employeecode is : @emp.Employeecode</h1> *@
		
		}

	</tbody>
</table>





