@model EMS.Web.Models.EmployeeListViewModel

@{
    ViewData["Title"] = "View";
}

<h1 class="h1">View</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-4">
                <div class="col-sm-12">
                <b>@Html.DisplayNameFor(model => model.Code)</b> :
                    <label class=" form-label border ">@Model.Code</label>
                </div>
            <div class="col-sm-12">
                <b>@Html.DisplayNameFor(model => model.FirstName)</b> :
                <label class=" form-label border border-dark">@Model.FirstName</label>

            </div>
            
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </b> :
                <label class=" form-label border">@Model.MiddleName</label>

            </div>
            
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.LastName)
                </b> :
                <label class=" form-label border">@Model.LastName</label>

            </div>
            
           </div>
           <div class="col-4">
                <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.BloodGroup)
                </b> :
                <label class=" form-label border">@Model.BloodGroup</label>

                </div>
               
                <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.Gender)
                </b> :
                <label class=" form-label border">@Model.Gender</label>

                </div>
                
                <div class="col-4">
                </div>
                <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.EmailId)
                </b> :
                <label class=" form-label border">@Model.EmailId</label>
                </div>
               
                <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </b> :
                <label class=" form-label border">@Model.MobileNumber</label>

                </div>
                
           </div>
        <div class="col-4">
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.AlternateMobileNumber)
                </b> :
                <label class=" form-label border">@Model.AlternateMobileNumber</label>

            </div>
            
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </b> :
                <label class=" form-label border">@Model.DateOfBirth</label>

            </div>
            
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.DateOfJoining)
                </b> :
                <label class=" form-label border">@Model.DateOfJoining</label>

            </div>
            
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.ExpInMonths)
                </b> :
                
                <label class=" form-label border">@Model.ExpInMonths</label>

            </div>
           
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.SalaryCtc)
                </b> :
                <label class=" form-label border">@Model.SalaryCtc</label>
            </div>
            
            <div class="col-sm-12">
                <b>
                    @Html.DisplayNameFor(model => model.IsActive)
                </b> :
                <label class=" form-label border">@Model.IsActive</label>

            </div>
            
    </dl>
        </div>
        
       
</div>
<div class="row">
    <div class="col-10"></div>
<div class="col-2">
    <a class="btn btn-primary" asp-action="list">Back to List</a>
</div>
</div>
