@model EMS.Models.EmployeeModel

@{
    ViewData["Title"] = "ViewEmployee";
    Layout = "~/Views/Shared/_EMSLayout.cshtml";
}

<h1>ViewEmployee</h1>

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeIdPk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeIdPk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employeecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employeecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonEmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternateMobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternateMobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentIdFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentIdFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfJoining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfJoining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpInMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpInMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationIdFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationIdFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignationIdFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignationIdFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryCtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryCtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LWD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LWD)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
