 @model EMS.Web.Models.EmployeeViewModel

@{
    ViewData["Title"] = "ViewEmployee";
    Layout = "~/Views/Shared/_EMSLayout.cshtml";
}

<div class="container">
    <h2 class="text-center mb-4">View Employee</h2>
    <hr />
    <div class="row">
        
        <div class="form-group col-5">
            <label class="control-label fw-bold">Code:</label>
            <label class="form-control-static">@Model.Code</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">FirstName:</label>
            <label class="form-control-static">@Model.FirstName</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">LastName:</label>
            <label class="form-control-static">@Model.LastName</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">BloodGroup:</label>
            <label class="form-control-static">@Model.BloodGroup</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">Gender:</label>
            <label class="form-control-static">@Model.Gender</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">EmailId:</label>
            <label class="form-control-static">@Model.EmailId</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">MobileNumber:</label>
            <label class="form-control-static">@Model.MobileNumber</label>
        </div>
       
        <div class="form-group col-5">
            <label class="control-label fw-bold">DOB:</label>
            <label class="form-control-static">@Model.DateOfBirth</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">DOJ:</label>
            <label class="form-control-static">@Model.DateOfJoining</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">Experience:</label>
            <label class="form-control-static">@Model.ExpInMonths</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">salary:</label>
            <label class="form-control-static">@Model.SalaryCtc</label>
        </div>
        <div class="form-group col-5">
            <label class="control-label fw-bold">IsActive</label>
            <label class="form-control-static">@Model.IsActive</label>
        </div>
        
    <div class="row">
        <div class="col-9">
                <div class="row">
                    <div class="col-5 m-2">
                        <div class="form-group col-3">
                            <h2>Present Address:</h2>
                        </div>
                        <div class="form-group col-5">
                            <label for="AddressLine1" class="control-label fw-bold">AddressLine1:</label>
                            <label>@Model.PresentAddress.AddressLine1</label>
                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">AddressLine2:</label>
                            <label>@Model.PresentAddress.AddressLine2</label>

                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">City:</label>
                            <label>@Model.PresentAddress.City</label>

                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">State:</label>
                            <label>@Model.PresentAddress.State</label>

                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">Pincode:</label>
                            <label>@Model.PresentAddress.Pincode</label>

                        </div>
                    </div>
                    <div class="col-5 m-2">
                        <div class="form-group col-5">
                            <h2>Permanant Address:</h2>
                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">AddressLine1:</label>
                            <label>@Model.PermanentAddress.AddressLine1</label>

                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">AddressLine2:</label>
                            <label>@Model.PermanentAddress.AddressLine2</label>

                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">City:</label>
                            <label>@Model.PermanentAddress.City</label>

                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">State:</label>
                            <label>@Model.PermanentAddress.State</label>
                        </div>
                        <div class="form-group col-5">
                            <label class="control-label fw-bold">Pincode:</label>
                            <label>@Model.PermanentAddress.Pincode</label>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h2>Addess history</h2>
                    <table class="table table-bordered">
                        <thead>
                        <th>Line1</th>
                        <th>Line2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>PIN</th>
                        </thead>
                        <tbody>
                            @if (Model.AddressHistory == null)
                            {
                                <tr><td colspan="5">No address History</td></tr>
                            }
                            else
                            {
                                @foreach (var addr in Model.AddressHistory)
                                {
                                    <tr>
                                        <td>@addr.AddressLine1</td>
                                        <td>@addr.AddressLine2</td>
                                        <td>@addr.City</td>
                                        <td>@addr.State</td>
                                        <td>@addr.Pincode</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="row">
                    <div class="col-10">
                        &nbsp;
                    </div>
                    <div class="col-4">
                        @Html.HiddenFor(m => m.EmployeeId)
                        <div class="col-3">
                            <a class="btn btn-secondary" asp-action="list" asp-controller="Employee">Go Back</a>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
</div>
</div>
